#contacts{
    width: 100%;
    background: white;
    color: black;
}

h1 {
    font-family: "Arial", sans-serif;
    letter-spacing: 1px;
}

table {
    font-family: "Arial", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 2px 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #1b669b;
    cursor: pointer;
}