#scroll-down {
    animation: scrollDownAnim 4.5s;
    transition: opacity .5s linear 0s;
}

#scroll-down-btn {
    position: absolute;
    bottom: 40px;
    transform: translateX(-25px);
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
}

#scroll-down-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#scroll-down-btn img {
    width: 25px;
    height: 25px;
    padding: 12px;
    animation: scrollPointerAnim 4s infinite;
}

@keyframes scrollDownAnim {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scrollPointerAnim {
    0% {
        transform: none;
    }
    80% {
        transform: none;
    }
    89.7% {
        transform: translateY(50px);
        opacity: 1;
    }
    89.8% {
        transform: translateY(50px);
        opacity: 0;
    }
    89.9% {
        transform: translateY(-50px);
        opacity: 0;
    }
    90% {
        transform: translateY(-50px);
        opacity: 1;
    }
    100% {
        transform: none;
    }
}

@media (max-width: 1350px) {
    #scroll-down-btn {
        width: 40px;
        height: 40px;
        bottom: 100px;
        transform: translateX(-20px);
    }

    #scroll-down-btn img {
        width: 20px;
        height: 20px;
        padding: 10px;
    }
}
