#language-switch {
    text-decoration: none;
    color: black;
    float: right;
    margin: 30px 40px 0 0;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.99);
    padding: 10px;
    border-radius: 15px;
    font-family: "Arial", cursive;
    animation: langAnim 5s;
}

#language-switch img {
    width: 20px;
    height: 20px;
    transform: translateY(4px);
}

#social {
    animation: socialAnim 4.5s;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.social-btn {
    width: 75px;
    height: 75px;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.social-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.social-btn img {
    width: 45px;
    height: 45px;
    margin: 15px 15px;
}

#email-icon {
    border-radius: 30%;
    padding: 2px 2px 2px 2px;
    width: 41px;
    height: 41px;
}

@keyframes socialAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes langAnim {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1350px) {
    #language-switch {
        margin: 28px 35px 0 0;
        font-size: 15px;
        padding: 9px;
        border-radius: 13px;
    }

    #language-switch img {
        width: 18px;
        height: 18px;
    }

    .social-btn {
        width: 65px;
        height: 65px;
    }

    .social-btn img {
        width: 35px;
        height: 35px;
        margin: 15px 15px;
    }

    #email-icon {
        width: 31px;
        height: 31px;
    }
}

@media (max-width: 900px) {
    #language-switch {
        margin: 21px 30px 0 0;
        padding: 7px;
        font-size: 14px;
        border-radius: 12px;
    }

    #language-switch img {
        width: 17px;
        height: 17px;
    }

    .social-btn {
        width: 58px;
        height: 58px;
    }

    .social-btn img {
        width: 30px;
        height: 30px;
        margin: 14px 14px;
    }

    #email-icon {
        width: 26px;
        height: 26px;
    }

}

@media (max-width: 460px) {
    #language-switch {
        margin: 18px 26px 0 0;
        padding: 5px;
        font-size: 13px;
        border-radius: 10px;
    }

    #language-switch img {
        width: 15px;
        height: 15px;
        transform: translateY(3px);
    }

    .social-btn {
        width: 45px;
        height: 45px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .social-btn img {
        width: 25px;
        height: 25px;
        margin: 10px 10px;
    }

    #email-icon {
        width: 21px;
        height: 21px;
    }
}