#language-switch {
    position: absolute;
    margin-top: 30px;
    width: 100%;
}

#language-switch-button {
    position: relative;
    float: right;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    font-family: "Exo", sans-serif;
    animation: langAnim 5s;
}

#language-switch-button img {
    width: 20px;
    height: 20px;
    transform: translateY(4px);
}

#language-switch-popup {
    font-size: 16px;
    right: 15px;
    width: 200px;
    background-color: #fff537;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: relative;
    float: right;
    margin-left: -80px;
    font-family: Inter, sans-serif;
    animation: popupAnim 5s;
}

.hidden-popup {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Popup arrow */
#language-switch-popup::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 19px;
    margin-left: -8px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #fff537;
}

#language-switch-popup-buttons {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
}

#language-switch-popup a, #language-switch-popup button {
    border: black 1px solid;
    border-radius: 10px;
    font-size: 13px;
    font-family: Inter, sans-serif;
    display: inline-block;
    padding: 5px 10px;
}

#language-switch-popup a {
    text-decoration: none;
    color: black;
}

#language-switch-popup button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#language-switch-popup button img {

    transform: translateY(3px);
    margin-right: 1px;
}

#language-switch-popup a img {
    transform: translateY(2px);
    margin-right: 1px;
}

#social {
    animation: socialAnim 4.5s;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.social-btn {
    width: 75px;
    height: 75px;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.social-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.social-btn img {
    width: 45px;
    height: 45px;
    margin: 15px 15px;
}

#email-icon {
    border-radius: 30%;
    padding: 2px 2px 2px 2px;
    width: 41px;
    height: 41px;
}

@font-face {
    font-family: Inter;
    src: url("../css/fonts2/Inter-Regular.woff2");
}

@keyframes popupAnim {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    90% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes socialAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes langAnim {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1350px) {
    #language-switch {
        margin-top: 28px;
    }

    #language-switch-button {
        margin-right: 28px;
        font-size: 15px;
        padding: 9px;
        border-radius: 13px;
    }

    #language-switch-button img {
        width: 18px;
        height: 18px;
    }

    #language-switch-popup::after {
        top: 16px;
    }

    .social-btn {
        width: 65px;
        height: 65px;
    }

    .social-btn img {
        width: 35px;
        height: 35px;
        margin: 15px 15px;
    }

    #email-icon {
        width: 31px;
        height: 31px;
    }
}

@media (max-width: 900px) {
    #language-switch {
        margin-top: 21px;
    }

    #language-switch-button {
        margin-right: 21px;
        padding: 7px;
        font-size: 14px;
        border-radius: 12px;
    }

    #language-switch-button img {
        width: 17px;
        height: 17px;
    }

    #language-switch-popup::after {
        top: 13px;
    }

    .social-btn {
        width: 58px;
        height: 58px;
    }

    .social-btn img {
        width: 30px;
        height: 30px;
        margin: 14px 14px;
    }

    #email-icon {
        width: 26px;
        height: 26px;
    }

}

@media (max-width: 460px) {
    #language-switch {
        margin-top: 18px;
    }

    #language-switch-button {
        margin-right: 18px;
        padding: 5px;
        font-size: 13px;
        border-radius: 10px;
    }

    #language-switch-button img {
        width: 15px;
        height: 15px;
        transform: translateY(3px);
    }

    #language-switch-popup {
        width: 160px;
        font-size: 14px;
        padding: 5px;
    }

    #language-switch-popup::after {
        top: 10px;
    }

    #language-switch-popup-yes-btn span {
        display: block;
        text-align: center;
    }

    #language-switch-popup-dismiss-btn span {
        display: block;
        text-align: center;
    }

    .social-btn {
        width: 45px;
        height: 45px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .social-btn img {
        width: 25px;
        height: 25px;
        margin: 10px 10px;
    }

    #email-icon {
        width: 21px;
        height: 21px;
    }
}