<!DOCTYPE html>
<html lang="{{ _('lang_code') }}">
{% set LANG_NUM = 0 if _('lang_code') == "en" else 1 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{{ _('page_description') }}">
    <meta name="keywords" content="{{ _('page_keywords') }}">
    <meta name="og:image" content="{{ url_for('static', filename='files/thumb.jpeg') }}">
    <meta name='theme-color' content='#fff537'>

    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='icons/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='icons/favicon/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='icons/favicon/apple-touch-icon.png') }}">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="alternate" hreflang="en" href="{{ url_for('multilingual.index', lang_code='en') }}">
    <link rel="alternate" hreflang="ru" href="{{ url_for('multilingual.index', lang_code='ru') }}">

    <title>{{ _('page_title') }}</title>

    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/Exo-Regular.woff2') }}"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/ABeeZee-Regular.woff2') }}"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/Jost-Light.woff2') }}"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/SourceCodePro-Bold.woff2') }}"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/SourceCodePro-Regular.woff2') }}"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/BellotaText-Bold.woff2') }}"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/BellotaText-Regular.woff2') }}"
          as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='css/fonts2/Comfortaa-VariableFont_wght.woff2') }}"
          as="font" type="font/woff2" crossorigin>

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
<div id="main">
    <div id="gallery">
        {% for img in sail_images[:-1] %}
            <img data-lazysrc="{{ url_for('static', filename="sail/"+img) }}"
                 class="gallery-image" alt="Sailing photo">
        {% endfor %}
        <img data-lazysrc="{{ url_for('static', filename="sail/"+sail_images[-1]) }}"
             class="gallery-image last-gallery-image" alt="Sailing photo">
    </div>
    <div id="vignette"></div>
    <div id="darker"></div>
    <a id="scroll-up" onclick="scrollUp()">
        <img src="{{ url_for('static', filename='icons/angle-up.svg') }}" alt="{{ _('up') }}">
    </a>

    {% if show_new_domain_msg %}
    <!-- NEW DOMAIN MESSAGE -->
    <div id="new-domain-background">
    <div id="new-domain">
        <a class="new-domain-lang" href="{{ url_for('multilingual.index',
        lang_code=_('language_switch_link')) }}?new_domain=1#force_lang">{{ _('new_domain_lang') }}</a>
        <h1><span class="red">nawinds.top</span> &#8594; <span class="gr">nawinds.dev</span></h1>
        <h3>{{ _('new_domain_header') }}</h3>
        <p>{{ _('new_domain_text') }}</p>
        <form method="post" action="/new_domain">
            <textarea name="msg" rows="4" placeholder="{{ _('new_domain_form_placeholder') }}"></textarea>
            <input type="submit" value="{{ _('new_domain_form_button') }}">
        </form>
        <div>
            <button onclick="hideNewDomain()">{{ _('new_domain_close_button') }}</button>
        </div>
    </div></div>
    <!-- END NEW DOMAIN MESSAGE -->
    {% endif %}

    <div id="language-switch">
        <a id="language-switch-button" href="{{ url_for('multilingual.index',
        lang_code=_('language_switch_link')) }}#force_lang">
            <img src="{{ url_for('static', filename='icons/globe-small-black.png') }}" alt="globe icon">
            {{ _('language_switch_text') }}
        </a>
        {% if show_switch_lang_popup %}
            <div id="language-switch-popup">
                {{ _('language_switch_popup_text') }}
                <div id="language-switch-popup-buttons">
                    <a id="language-switch-popup-yes-btn" href="{{ url_for('multilingual.index',
                lang_code=_('language_switch_link')) }}#force_lang">
                        <span><img src="{{ url_for('static', filename='icons/sync.svg') }}" alt="Change language"></span>
                        <span>{{ _('language_switch_popup_ok') }}</span>
                    </a>
                    <button id="language-switch-popup-dismiss-btn" onclick="dismissLanguageSwitchPopup();">
                        <img src="{{ url_for('static', filename='icons/close-popup.svg') }}" alt="Close">
                        <span>{{ _('language_switch_popup_dismiss') }}</span>
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    <div id="headers">
        <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="nawinds"><br>
        <div id="names">
            <span id="name">{{ _('name_header') }}</span>
            <span class="nickname">
                <span id="nickname"><span>@</span>nawinds</span>
            </span>
        </div>
        <div id="social">
            <a class="social-btn" href="{{ gitea }}" target="_blank"
               onclick="socialClick('Gitea')">
                <img src="{{ url_for('static', filename='icons/gitea.svg') }}" alt="Gitea">
            </a>
            <a class="social-btn" href="https://github.com/{{ github }}" target="_blank"
               onclick="socialClick('Github')">
                <img src="{{ url_for('static', filename='icons/github.svg') }}" alt="GitHub">
            </a>
            <a class="social-btn" href="tg://resolve?domain={{ telegram }}" onclick="socialClick('Telegram')">
                <img src="{{ url_for('static', filename='icons/tg2.svg') }}" alt="Telegram">
            </a>
            <a class="social-btn" href="https://instagram.com/{{ instagram }}" target="_blank"
               onclick="socialClick('Instagram')">
                <img src="{{ url_for('static', filename='icons/instagram.svg') }}" alt="Instagram">
            </a>
            <a class="social-btn" href="https://vk.com/{{ vk }}" target="_blank" onclick="socialClick('VK')">
                <img src="{{ url_for('static', filename='icons/vk.svg') }}" alt="VK">
            </a>
            <a class="social-btn" href="mailto:{{ email }}" target="_blank" onclick="socialClick('Email')">
                <img src="{{ url_for('static', filename='icons/mail.svg') }}" alt="Email" id="email-icon">
            </a>
        </div>
    </div>
    <div id="scroll-down">
        <a id="scroll-down-btn" onclick="scrollDown()">
            <img src="{{ url_for('static', filename='icons/down-long.svg') }}" alt="{{ gettext('scroll_further') }}">
        </a>
    </div>
    <div id="about">
        <div class="container">
            <h1>{{ _('about_header') }}</h1>
            <div id="short-summary">
                <p class="muted">
                    <span class="green"><b>nawinds@localhost</b>:<span class="blue">~</span>$</span>
                    ./about.sh
                </p>
                <p>
                    <img src="{{ url_for('static', filename='icons/user.svg') }}" alt="{{ _('age') }}">
                    {{ _('age') }}: {{ age }} {{ _('age_years') }}
                </p>
                <p>
                    <img src="{{ url_for('static', filename='icons/city.svg') }}" alt="{{ _('city') }}">
                    {{ _('city_desc') }}
                </p>
                <p>
                    <img src="{{ url_for('static', filename='icons/python.svg') }}" alt="{{ _('programmer_alt') }}">
                    {{ _('programmer_desc') }}
                </p>
                <p>
                    <img src="{{ url_for('static', filename='icons/sailboat.svg') }}" alt="{{ _('sailing') }}">
                    {{ _('sailing_desc') }}
                </p>
                <p>
                    <img src="{{ url_for('static', filename='icons/photo-film.svg') }}" alt="{{ _('videography') }}">
                    {{ _('videography_desc') }}
                </p>
                <p class="muted muted-bottom">
                    <span class="green"><b>nawinds@localhost</b>:<span class="blue">~</span>$</span>
                    <span id="terminal-cursor"></span>
                </p>
            </div>
            <div id="programming-skills">
                <h3>{{ _('programming_experience_header') }}</h3>
                {{ _('programming_experience_text') }}
            </div>
        </div>
    </div>
    <div id="projects">
        <div class="container">
            <h1>{{ _('projects') }}</h1>
            {% for project in projects[:3] %}
                <div class="project-block">
                    <div class="project-header">
                        <h2>{{ project["title"][LANG_NUM] }}</h2>
                        {% if "hashtags" in project.keys() %}
                            <div class="project-hashtags">
                                {% if "github_repo" in project.keys() %}
                                    <span class="hashtag white-hashtag version-hashtag" style="display: none">
                            {{ project["github_repo"] }}
                        </span>
                                {% endif %}
                                {% for hashtag in project["hashtags"] %}
                                    <span class="hashtag {{ hashtag["color"] }}-hashtag">{{ hashtag["text"][LANG_NUM] }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="project-details">
                        <div class="left-column">
                            {% for paragraph in project["description"][LANG_NUM] %}
                                {{ paragraph }}
                            {% endfor %}
                        </div>
                        <div class="right-column">
                            {% if "open_link" in project.keys() %}
                                <a href="{{ project["open_link"]["url"] }}" class="btn"
                                   onclick="projectLink(this, '{{ project["title"] }}', 0)" target="_blank">
                                    <img src="{{ url_for('static', filename='icons/arrow-up-right.svg') }}"
                                         alt="open website">
                                    {{ project["open_link"]["title"][LANG_NUM] }}
                                </a>
                            {% endif %}
                            {% if "source_link" in project.keys() %}
                                <a href="{{ project["source_link"] }}" class="btn"
                                   onclick="projectLink(this, '{{ project["title"] }}', 1)" target="_blank">
                                    <img src="{{ url_for('static', filename='icons/github-dark.svg') }}"
                                         alt="GitHub">
                                    {{ _('source_code') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for project in projects[3:] %}
                <div class="project-block hidden-project" style="display: none">
                    <div class="project-header">
                        <h2>{{ project["title"][LANG_NUM] }}</h2>
                        {% if "hashtags" in project.keys() %}
                            <div class="project-hashtags">
                                {% if "github_repo" in project.keys() %}
                                    <span class="hashtag white-hashtag version-hashtag" style="display: none">
                            {{ project["github_repo"] }}
                        </span>
                                {% endif %}
                                {% for hashtag in project["hashtags"] %}
                                    <span class="hashtag {{ hashtag["color"] }}-hashtag">{{ hashtag["text"][LANG_NUM] }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="project-details">
                        <div class="left-column">
                            {% for paragraph in project["description"][LANG_NUM] %}
                                {{ paragraph }}
                            {% endfor %}
                        </div>
                        <div class="right-column">
                            {% if "open_link" in project.keys() %}
                                <a href="{{ project["open_link"]["url"] }}" class="btn"
                                   onclick="projectLink(this, '{{ project["title"] }}', 0)" target="_blank">
                                    <img src="{{ url_for('static', filename='icons/arrow-up-right.svg') }}"
                                         alt="open website">
                                    {{ project["open_link"]["title"][LANG_NUM] }}
                                </a>
                            {% endif %}
                            {% if "source_link" in project.keys() %}
                                <a href="{{ project["source_link"] }}" class="btn"
                                   onclick="projectLink(this, '{{ project["title"] }}', 1)" target="_blank">
                                    <img src="{{ url_for('static', filename='icons/github-dark.svg') }}"
                                         alt="GitHub">
                                    {{ _('source_code') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div id="show-more-projects">
                <button id="show-more-projects-btn" onclick="showAllProjects()">
                    <img class="show-more-projects-btn-img"
                         src="{{ url_for('static', filename='icons/angle-up.svg') }}"
                         alt="down">
                    <span id="show-more-projects-btn-text">{{ _('all_projects') }}</span>
                    <img class="show-more-projects-btn-img"
                         src="{{ url_for('static', filename='icons/angle-up.svg') }}"
                         alt="down">
                </button>
            </div>
        </div>
    </div>
    <div id="telegram-channel-banner">
        <div class="tg-banner-spacing"></div>
        <div class="tg-banner-container">
            <div class="tg-left-column">
                <h2>{{ _('tg_channel_desc') }}</h2>
            </div>
            <div class="tg-right-column">
                <a href="{{ tg_channel }}" class="telegram-channel-link"
                   onclick="socialClick('Tg-channel')" target="_blank">
                    <img alt="Telegram"
                         src="{{ url_for('static', filename='icons/telegram-plane.svg') }}">
                    {{ _('tg_channel_btn') }}
                </a>
            </div>
        </div>
        <div class="tg-banner-spacing"></div>
    </div>
    <footer>
        <p>
            {{ _('footer_site_coded_with') }}<span>
                <img src="{{ url_for('static', filename='icons/heart.svg') }}" alt="{{ _('footer_love') }}">
            </span>{{ _('footer_by_me') }}
        </p>
        <p class="copyright">&copy;&nbsp;{{ year }},&nbsp;{{ _('name_header') }}</p>
    </footer>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>